

body {
    background-color: #020201;
    overflow: hidden;
    position: relative;
}   


.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
}

.item {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

video, img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.side1,.side2 {
    opacity: 0.0001;
}

button{
    
    margin-top: 10px;
    background-color: #F167A3;
    border: none;
    color: #fff;
    padding: 0.5rem 2.75rem;
    border-radius: 25px;
    
}

.previous, .next {
    position: absolute;
    top: 50%;
    opacity: 0.7;
    font-size: 20px;
    color: #fff;
}

.previous {
    left: 10px;
    
}

.next {
    right:10px;
    
}

.hide {
    display: none;
}