<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/icon.png" type="image/x-icon">
    <title>Hackathon Wrapped || HacksMap</title>
</head>

<body style="background-color: black; ">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
        body{
            font-family: 'Poppins', sans-serif;
        }
        .container {
            display: flex;
            color: white;
            justify-content: center;
            align-items: center;
            height: 90vh;
        }
    </style>
    <div class="container">
        <h1>Please enter a valid username</h1>
    </div>
</body>
</html>