<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/icon.png" type="image/x-icon">
    <title>Hackathon Wrapped || HacksMap</title>
    <link rel="stylesheet" href="../static/css/hack.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>


    <div class="container">
        <!-- <div class="previous">
            <i class="fas fa-arrow-left"></i>
        </div> -->
        
        <div class="item side1" id="side1">
            <!-- <img src="./Images/dance-revolution.jpg" alt="Dance Revolution Image"> -->
            <!-- <video id="side" src="../static/carousel/1.mp4"></video> -->
            <!-- <button class="side1-btn">Play</button> -->
        </div>
        <div class="item middle" id="middle">
            <img src="../static/carousel/84E6F8.png" alt="Dance Revolution Image">
            
            <button class="middle-btn">Play</button>
        </div>
        <div class="item side2" id="side2">
            <video class="baamzi" src="../static/carousel/1.mp4" autoplay></video>
            <!-- <img src="./Images/tetris.jpg" alt="Dance Revolution Image"> -->
            <!-- <img src="../static/carousel/2.png"></img> -->
            <!-- <button class="side2-btn">Play</button> -->
        </div>
        <!-- <div class="item hide">
            <img src="./Images/pacman.jpg" alt="Dance Revolution Image">
        </div> -->
        <!-- <div class="next">
            <i class="fas fa-arrow-right"></i>
        </div> -->
    </div>
    <!-- <script>
        var aud = document.getElementById("side");
        aud.onended = function() {
            alert("The audio has ended");
        };
    </script> -->
    <script src="../static/js/hack.js"></script>
     
</body>
</html>