<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p>hemlo</p>
    <p>enter your devpost username if you may</p>
        <input type="text" name="username"  id= 'username' value="">
        <button onclick="check()"> submit</button>
    
    <script>
       

        function check(){
            var hehe = document.getElementById('username').value;
            if(hehe==null || hehe==''){
                window.alert('please enter a username to begin')
            }
            else{
                window.location.href='/select/'+hehe;
            }
        }
    </script>

</body>
</html>