<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Relive your hackathon journey. let's dive into nostalgia and celebrate all of your achievements.">
    <meta name="keywords" content="hackathons, projects, coding, python, flask">
    <meta name="author" content="Shruti Gupta, Aakash Shrivastava, Atharv Bidwe">
    <link rel="shortcut icon" href="static/icon.png" type="image/x-icon">

    <link rel="stylesheet" href="static/style.css">
    <title>HacksMap</title>
</head>
<body>
    
    <div class="maindiv">
        <p class="title">Relive your hackathon journey</p>
    <p class="subtitle">let's dive into nostalgia and celebrate all of your achievements.</p>
        <div class="rowbaamzi">
            <input type="text" name="username"   placeholder="enter devpost username" id= 'username' value="">
        <button onclick="check()">get your wrapped</button>
        </div>
    </div>
    <img src="static/img.png" alt="">
    <script>
       

        function check(){
            var hehe = document.getElementById('username').value;
            if(hehe==null || hehe==''){
                window.alert('please enter a username to begin')
            }
            else{
                window.location.href='/select/'+hehe;
            }
        }
    </script>

</body>
</html>